.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #40525E;
    overflow-x: hidden; }
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900; }
h1 {
    font-size: 72px;
    margin: 0 0 .1em; }
.home h1 {
    margin-top: 0px; }
h2 {
    font-size: 48px;
    margin: 0 0 .8em; }
h5 {
    font-size: 24px; }
h5.normal {
    font-weight: 400; }
p {
    font-size: 18px;
    line-height: 30px; }
p.small {
    font-size: 12px; }
p.meta {
    font-size: 14px; }
p.big {
    font-size: 26px; }
p.block {
    font-family: 'Playfair Display', serif; }
.blue {
    color: #00B2EE; }
a,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none; }
img {
    max-width: 100%; }
.stylize {
    font-family: 'Playfair Display', serif; }
.faded-h1 {
    font-weight: 900;
    font-size: 350px;
    opacity: .05;
    line-height: .5em; }
.button {
    font-size: 20px;
    padding: 1em 3.5em;
    color: #FFF;
    transition: all .3s ease-in-out; }
    #Choice .col-md-6:first-child .button {
        background: #FE3F63; }
    #Choice .col-md-6:last-child .button {
        background: #F3422A; }
    .button:hover,
    .button:focus,
    .button:active {
        box-shadow: 0 22px 48px 0 rgba(0, 0, 0, .15); }

section          { position: relative; }
.section_one     { z-index: 99; }
.section_two     { z-index: 98; }
.section_three   { z-index: 97; }
.section_four    { z-index: 96; }
.section_five    { z-index: 95; }
.section_six     { z-index: 94; }
.section_seven   { z-index: 93; }
.section_eight   { z-index: 92; }
.section_nine    { z-index: 91; }
section#Choice .col-md-6:first-child:after {
    content: 'or';
    position: absolute;
    right: -.75em;
    bottom: 0;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    letter-spacing: .25em; }

section#Choice .col-md-6:before {
    content: '';
    position: absolute;
    bottom: 1.25em;
    width: 70px;
    height: 1px;
    background: #FFF; }


section#Choice .col-md-6:first-child:before {
    right: 3em; }
section#Choice .col-md-6:last-child:before {
    left: 3em; }
section#StartOver {
    color: #000; }



section.section_dot_after::after {
    content: url(img/section_dot_after.png);
    position: absolute;
    bottom: -85px;
    margin: auto;
    left: calc(50% - 5px); }
.border-color {
    padding: 0;
    border: 3px solid #00B2EE;
}
/*NAVBAR*/
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    margin-bottom: 0;
    z-index: 9999; }
    .navbar-nav > li > a {
        color: #FFF !important;
        padding-top: 1.5em !important;
        padding-bottom: 1.5em !important; }
        .navbar-default .navbar-nav > .active > a,
        .navbar-default .navbar-nav > .active > a:focus,
        .navbar-default .navbar-nav > .active > a:hover {
            color: #333;
            background-color: transparent; }



/*SLIDER*/
.home header {
    background-image: url('img/home-slider-bg.jpg');
    background-size: cover;
    display: block;
    min-height: 100vh;
    min-width: 100vw; }
    .home header #Slider.slider {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%; }
        .home header #Slider.slider .slider-wrap {
            display: flex;
            align-items: center;
            height: 100%;
            width: auto;
            position: relative; }
            header #Slider.slider .slider-wrap .slider-content {
                margin: auto;
                padding-bottom: 64px;
                color: #FFF; }
            .home header #Slider.slider .slider-wrap .slider-content {
                padding-bottom: 64px; }
            header #Slider.slider .slider-wrap .slider-arrow {
                display: block;
                background: #00B2EE;
                margin: -45px auto 0;
                height: 70px;
                width: 70px;
                line-height: 70px;
                border-radius: 45px;
                opacity: .6;
                animation: pulse 2s infinite; }
            header #Slider.slider .slider-wrap img {
                margin-top: 3em; }


@keyframes         pulse { 50% { transform: scale(1.2); } }
@-webkit-keyframes pulse { 50% { transform: scale(1.2); } }

@media (min-width: 769px) {
    .slider-from-left,
    .slider-from-right {
        transition: 1s ease-out;
        opacity: .1; }
        .slider-from-left {
            transform: translateX(-500px);}
        .slider-from-right {
            transform: translateX(500px); }
    .animate .slider-from-left,
    .animate .slider-from-right {
        transform: translateX(0);
        opacity: 1; }

        section#MoreTeam .col-md-2 {
            width: 20%;
        }
}

header {
    padding: 0 0 130px;
    overflow: auto;
    background: linear-gradient(to right, #00B2EE, #0086B2); }
    header h1 {
        margin-top: 1em; }
    header .navbar-default {
        position: relative; }


/*CONTENT*/
section {
    padding: 100px 0; }
    section .section-title {
        text-align: center; }
section.dark-bg {
    color: #FFF; }

.content-wrap {
    background: #FFF;
    z-index: 1;
    box-shadow: 0 10px 65px 0px rgba(0,0,0,0.3); }


section#Impact {
    padding: 120px 0;
    background: #000; }
section#StartOver {
    background: #FCE525; }
section#Choice {
    background: linear-gradient(to right, #00B2EE 30%, #FFFFFF);
    color: #FFF;
    padding: 120px 0 140px;
    text-align: center; }
section#Educators {
    background: #FBFBFB;
    padding: 30px 0; }
section#ParentsTesti h5 {
    margin-top: 1.5em;
    color: #00B2EE; }

.testimonial-carousel .owl-item > div {
    border: 2px solid #00b2ee;
    padding: 2.5% 5%;
    margin-top: 140px; }
    .testimonial-carousel .owl-item > div img {
        width: initial;
        margin: -140px auto 30px; }

section#Team {
    padding: 200px 0 0; }
section#Mission .row {
    background: #F9F9F9;
    padding: 5%;
    border: 3px solid #00b2ee; }

/*ELEMENTS*/

.card {
    border: 2px solid #FFF;
    padding: 10% 10% 0;
    margin-bottom: 1.8em;
    text-align: center;
    transition: border .3s ease-in-out; }
    .card-title {
        font-family: 'Playfair Display', serif;
        font-size: 100px;
        transition: color .3s ease-in-out; }
    .card-desc {
        padding: 5%;
        font-size: 12px;
        border: 2px solid #FFF;
        margin: 2em auto -1.8em;
        background: #000;
        transition: all .3s ease-in-out; }
    .card:hover,
    .card:hover .card-desc {
        color: #00B2EE;
        border-color: #00B2EE; }




.home .section_dot_after {
    padding: 150px 0; }


.team-single {
    position: relative;
    transition: all .3s ease-in-out;
    margin-bottom: 30px;
    cursor: pointer; }
    #Team .team-single {
        margin-left: 2%;
        margin-right: 2%; }
    .team-single:hover {
        transform: translateY(11px); }
        .team-single::after {
            content: 'Linked In';
            background: rgba(0, 178, 238, .9);
            color: #FFF;
            line-height: 1em;
            text-align: center;
            padding: calc(50% - .5em) 0;
            top: 0;
            left: 0;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 15%;
            transition: all .3s ease-in-out;
            opacity: 0; }
            .team-single:hover::after {
                opacity: 1; }
    .team-single .tm-avatar {
        box-shadow: 0 22px 48px 0 rgba(0, 0, 0, .3);
        transition: all .3s ease-in-out;
        border-radius: 15%;
        width: 100%; }
    .team-single:hover .tm-avatar {
        box-shadow: 0 0 0 0 transparent; }
    .team-single .tm-desc {
        position: absolute;
        bottom: 0;
        padding: 2em;
        color: #FFF; }
        .team-single .tm-desc .tm-name,
        .team-single .tm-desc .tm-desg {
            margin: 0; }
section#MoreTeam .team-single .tm-desc {
    padding: 1em; }
section#MoreTeam .team-single .tm-desc .tm-desg {
    line-height: 1em; }


.mntr-blue {
    position: relative;
    color: #0084FF; }
    .mntr-blue:before {
        content: url('img/mntr-doctor.png');
        position: absolute;
        bottom: 100%; }
.mntr-orange {
    position: relative;
    color: #F64F0E; }
    .mntr-orange:before {
        content: url('img/mntr-tattoo.png');
        position: absolute;
        left: 30px;
        bottom: 100%; }

.flex-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 3em; }
    .flex-wrap img {
        margin-right: 1.5em; }

.mntr-name {
    margin-bottom: .25em;
    color: #00B2EE; }
.mntr-btn {
    display: inline-block;
    color: #F3422A;
    border: 1px solid #F3422A;
    padding: .8em 2.5em;
    border-radius: 2em;
    transition: all .3s ease-in-out; }
    .mntr-btn:hover {
        background-color: #F3422A;
        color: #FFF; }


.button-round {
    display: inline-block;
    font-size: 20px;
    color: #FFFFFF !important;
    background-color: #F3422A;
    padding: .8em 3.5em;
    border-radius: 2em;
}








footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: -1;
    text-align: center; }
    footer .container {
        margin: 50px auto; }
        footer .social-media-buttons {
            margin: 30px 0;
            padding: 0; }
        footer .footer-nav li,
        footer .social-media-buttons li {
            display: inline-block; }
            footer .footer-nav li a,
            footer .social-media-buttons li a {
                padding: 1em; }

        footer .copyright {
            opacity: .5;
            font-size: 9px;
            margin: 30px; }

    .owl-nav > div {
        font-size: 24px !important;
        background: #FFF !important;
        color: #00b2ee !important;
        border: 2px solid #00b2ee;
        padding: .25em .5em !important;
        line-height: 1.5em;
        border-radius: 0 !important; }



.page-loader {
    position: fixed;
    display: flex;
    top: 0;
    align-items: center;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0 47.5%;
    background: #FFF;
    z-index: 999999999999; }
.page-loader .bar {
    float: left;
    width: 15px;
    height: 6px;
    border-radius: 2px;
    background-color: #4b9cdb;
    animation: loadingJ 2s cubic-bezier(.17,.37,.43,.67) infinite; }

@keyframes loadingJ {
  0%,100% {transform: translate(0,0);}

  50% {
      transform: translate(80px,0);
      background-color: #f5634a;
      width: 25px;
  }
}

.contact #Slider h1 { margin: auto; }
.contact label {
    font-weight: 400;
}
.contact input,
.contact textarea {
    overflow: visible;
    background: rgba(0,0,0,.1);
    border: none;
    padding: 1em 1.2em;
    width: 100%;
    margin-bottom: 1.5em;
    outline: none !important;
}
.contact input[type="submit"] {
    background: #FFF;
    color: #00b2ee;
    width: auto;
    padding: 1.5em 3em;
}
